@media screen and (min-width: 1024px){
    .square{
        background-color: blue;
        width: 33%;
        height: 30px;
        border: green 5px solid;
        border-radius: 50%;
       
    }
 }
 
 @media screen and (min-width: 600px) and (max-width:1024px){
     .square{
         width: 66%;
         height: 30px;
         background-color: red;
         border: yellow 5px solid;
         border-radius: 15px;
     }
 }
 
 @media screen and (min-width: 320px) and (max-width:600px){
     .square{
         background-color: orange;
         height: 30px;
         border: black 5px solid;
     }
 }